#timetable_updater {
    max-width: 575px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginFirst {
    text-align: center;
}

#loginFirst h1 {
    color: #eb5c38;
}

#loginFirst a {
    color: #333;
    font-weight: 600;
}

#timetableForm {
    display: none;
    justify-content: center;
}

#timetableForm select,
input {
    font-family: "Poppins";
    border-radius: 5px;
    margin: 0 5px;
}

#submitButton {
    background-color: rgb(165, 255, 165);
}

#submitButton:hover {
    cursor: pointer;
}
