* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(251, 251, 251);
    width: 500px;
    padding: 25px;
    margin: 25px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: blueviolet;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration-line: underline;
}

.wrapper h6{
    text-align: center;
    font-size: 24px;
    color: blueviolet;
}

.wrapper p{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;

}

h4 {
    padding-bottom: 5px;
    color: blueviolet;
}

.input-group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box {
    width: 100%;
    margin-right: 12px;
    position: relative;
    
}

.input-box:last-child {
    margin-right: 0;
}
.name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid black;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: black;
}

.input-box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #000000;
    background-color: #f3f3f3;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid black;
}

.name:focus + .icon {
    background-color: blueviolet;
    color: #fff;
    border-right: 1px solid blueviolet;
    border: none;
    transition: 1s;
}

.dob {
    width: 32.7%;
    padding: 14px;
    text-align: center;
    background-color: #fff;
    transition: 0.3s;
    outline: none;
    border: 1px solid #000000;
    border-radius: 3px;
}
.radio {
    display: none;
    
}
.input-box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid black;
}

.input-box label i {
    font-size: x-large;
}

.input-box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}

.input-box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label {
    background-color: blueviolet;
    color: #fff;
    transition: 0.5s;
}

.input-box select {
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #000000;
    cursor: pointer;
    transition: all 0.2s ease;
}

button {
    width: 100%;
    background: transparent;
    border: none;
    background: blueviolet;
    color: #fcfcfc;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}

h3 {
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}
