#loginFirst {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

#loginFirst h1 {
    color: #eb5c38;
}

#loginFirst a {
    color: #333;
    font-weight: 600;
}

#loginFirst {
    text-align: center;
}
