@font-face {
    font-family: "LEMONMILK";
    src: url("/fonts/LEMONMILK-Regular.otf");
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "LEMONMILK";
    background-color: beige
}

#map {
    position: relative;
    width: 100.0%;
    height: 92.0%;
    left: 0.0%;
    top: 0.0%;
}

.leaflet-container {
    font-size: 1rem;
}

/*HEADER BUTTONS AND LOGO*/
.header-main {
    width: 100%;
    height: 72px;
    background-color: rgb(194, 139, 245);
    display: flex;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    background-color: rgb(194, 139, 245);
    display: flex;
    padding-left: 10px;
}

.header-main-nav {
    width: fit-content;
    height: auto;
    background-color: rgb(194, 139, 245);
}

.header-main-nav ul {
    list-style: none;
}

.header-main-nav ul li {
    display: inline;
}

.header-main-nav ul li a {
    padding: 0 20px;
    line-height: 40px;
    color: rgb(41, 41, 41);
    text-decoration: none;
}

/* LOGIN BUTTON*/
.header-main-login {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    background-color: rgb(194, 139, 245);
    padding-left: 10px;
    /* You can set this to your desired value */
}

.header-main-login ul {
    list-style: none;
}

.header-main-login ul li {
    display: inline;
}

.header-main-login ul li a {
    padding: 0 20px;
    line-height: 40px;
    color: rgb(41, 41, 41);
    text-decoration: none;
}