.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgb(0, 182, 173) 0%,
        rgb(117, 33, 243) 100%
    );
    width: 600px;
    height: 350px;
    margin: 80px auto; /* Center the wrapper horizontally */
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around; /* Make the layout symmetrical */
    margin-top: 20px; /* Adjust the margin as needed */
    background-color: red;
    width: 90%;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: auto; /* Add this line */
}

.button-box span {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}

.button-box span:hover {
    background-color: #ccc;
}

.num {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    margin: 10px; /* Remove default margin */
}
