.wrapper {
    margin: 80px auto;
    background-color: rgb(255, 0, 0);
    width: 600px;
    text-align: center;
    border-radius: 10px;
}

.button-box {
    height: 100px;
    background-color: rgb(20, 196, 20);
    width: 300px;
    text-align: center;
    margin: auto; /* Add this line */
}


.button-box h2{
    font-size: 32px;
}

.button-box h1{
    font-size: 20px;
    background-color: blue;
    text-align: center;
}

.button-box span.num{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0,2);
    border-left: 2px solid rgba(0,0,0,0,2);
}
