.user-box {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loggedIn {
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedIn h1 {
    color: #3895eb;
}

.loggedIn h2 {
    padding: 5px;
    background-color: #eb5c38;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    color: white;
}

.loggedIn span {
    font-weight: 600;
}

.notLoggedIn {
    text-align: center;
}

.notLoggedIn h1 {
    color: #eb5c38;
}

.notLoggedIn a {
    color: #333;
    font-weight: 600;
}
